{template 'public/header'}
{template 'public/comhead'}
<link rel="stylesheet" type="text/css" href="../addons/mzhk_sun/template/public/ygcss.css">
<ul class="nav nav-tabs">    
    <span class="ygxian"></span>
    <div class="ygdangq">当前位置:</div>
   <li class="active"><a href="javascript:void(0);">基本信息</a></li>
</ul>
<div class="main">
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">
        <!--<input type="hidden" name="parentid" value="{$parent['id']}" />-->
        <div class="panel panel-default ygdefault">
            <div class="panel-heading wyheader">
                基本信息
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <label for="lastname" class="col-sm-2 control-label">过审开关</label>
                    <div class="col-sm-10">
                         <label class="radio-inline">
                            <input type="radio" id="emailwy1" name="showcheck" value="1" {if $item['showcheck']==1 || empty($item['showcheck'])}checked{/if} />
                            <label for="emailwy1">开</label>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" id="emailwy2" name="showcheck" value="0" {if $item['showcheck']==0}checked{/if} />
                            <label for="emailwy2">关</label>
                        </label>
                        <span class="help-block">*提交小程序前端微信审核的时候打开</span>
                        <div>
                            <label class="control-label">过审小程序版本号</label>
                           <input type="text" name="version" class="form-control" style="float: none;display: inline-block;width: 200px;" placeholder="如：1.0.0" value="{$item['version']}" />
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">平台名称</label>
                    <div class="col-sm-9">
                       <input type="text" name="pt_name" class="form-control" value="{$item['pt_name']}" />
                    </div>
                </div>  
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">平台电话</label>
                    <div class="col-sm-9">
                        <input type="tel" name="tel"  class="form-control" value="{$item['tel']}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">平台主图</label>
                    <div class="col-sm-9">
                        {php echo tpl_form_field_image('pic', $item['pic']);}
                        <span class="help-block">*建议比例 1:1</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">平台邮箱  </label>
                    <div class="col-sm-9">
                        <input type="email" name="mail"  class="form-control" value="{$item['mail']}" />
                        <span class="help-block">*请正确填写邮箱地址，比如：8888888@qq.comn</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">平台字体颜色</label>
                    <div class="col-sm-9">
                       {php echo tpl_form_field_color('fontcolor', $item['fontcolor'])} 
                        <span class="help-block">*小程序字体只支持白色跟黑色</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">平台头部背景</label>
                    <div class="col-sm-9">
                        {php echo tpl_form_field_color('color', $item['color'])}
                        <span class="help-block">*不填写会默认选中红色</span>
                    </div>
                </div>
              
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">平台地址</label>
                    <div class="col-sm-9">
                       <input type="text" name="address"  class="form-control" value="{$item['address']}" />
                       <span class="help-block">*</span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">平台简介</label>
                    <div class="col-sm-9">
                         {php echo tpl_ueditor('details',$item['details']);}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">前端商家登陆logo</label>
                    <div class="col-sm-9">
                        {php echo tpl_form_field_image('loginimg', $item['loginimg']);}
                        <span class="help-block">*建议比例 1:1</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">后台顶部标题名称</label>
                    <div class="col-sm-9">
                        <input type="text" name="link_name" class="form-control" value="{$item['link_name']}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">后台顶部logo</label>
                    <div class="col-sm-9">
                        {php echo tpl_form_field_image('link_logo', $item['link_logo'])}
                        <span class="help-block">*建议比例 1:1 (34*34)</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">小程序码</label>
                    <div class="col-sm-9">
                        {php echo tpl_form_field_image('wxappletscode', $item['wxappletscode'])}
                        <span class="help-block">*微信公众平台小程序里面下载</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="lastname" class="col-sm-2 control-label">是否显示技术支持</label>
                    <div class="col-sm-10">
                         <label class="radio-inline">
                            <input type="radio" id="emailwy1" name="is_show_tech" value="1" {if $item['is_show_tech']==1 || empty($item['is_show_tech'])}checked{/if} />
                            <label for="emailwy1">显示</label>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" id="emailwy2" name="is_show_tech" value="0" {if $item['is_show_tech']==0}checked{/if} />
                            <label for="emailwy2">不显示</label>
                        </label>
                        <span class="help-block">*</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">技术支持名称</label>
                    <div class="col-sm-9">
                        <input type="text" name="tech_title" class="form-control" value="{$item['tech_title']}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">技术支持电话</label>
                    <div class="col-sm-9">
                        <input type="text" name="tech_phone" class="form-control" value="{$item['tech_phone']}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">技术支持logo</label>
                    <div class="col-sm-9">
                        {php echo tpl_form_field_image('tech_img', $item['tech_img'])}
                        <span class="help-block">*建议比例 1:1 (64*64)</span>
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group">
            <input type="submit" name="submit" value="提交" class="btn col-lg-3" style="color: white;background-color: #444444;margin-left: 550px;"/>
            <input type="hidden" name="token" value="{$_W['token']}" />
            <input type="hidden" name="id" value="{$item['id']}" />
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function(){
        $("#frame-12").show();
        $("#yframe-12").addClass("wyactive");
    })
</script>