{template 'common/header'}

<ul class="nav nav-tabs">

	<li ><a href="{php echo $this->createWebUrl('rechange')}">充值面额列表</a></li>
	<li class="active"><a href="{php echo $this->createWebUrl('addrechange')}">增加充值面额</a></li>
</ul>


<div class="clearfix">

	<form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" onsubmit="return formcheck()" style="">

		<input type="hidden" name="id" value="{$info['id']}">

		<div class="panel panel-default" style="">

			<div class="panel-heading">
				编辑充值面额

			</div>

			<div class="panel-body" style="">

				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>充值面额</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" name="price" id="advname" class="form-control" value="{$info['price']}">
					</div>
				</div>


				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">是否上架</label>
					<div class="col-sm-9 col-xs-12">
						<label class="radio-inline">
							<input type="radio" name="state"{if $info['state'] == 1} checked {/if} value="1"> 是
						</label>
						<label class="radio-inline">
							<input type="radio" name="state" value="0"  {if $info['state'] != 1} checked {/if}> 否
						</label>
					</div>
				</div>


			</div>

		</div>

		<div class="form-group col-sm-12">
			{if empty($info['id'])}
				<input type="hidden" name="act" value="add">
			{else}
				<input type="hidden" name="act" value="edit">
			{/if}
			<input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1">

		</div>

	</form>

</div>

<script type="text/javascript">
	$('#qie').find('label').each(function(){			
		$(this).click(function(){
			var index=$(this).index()
			if(index==0){
				$('.one').show()
				$('.two').hide()
				$('.three').hide()
			}else if(index==1){
				$('.one').hide()
				$('.two').show()
				$('.three').show()
			}
		})
	})
	var index = $('#qie label').find(':radio:checked').val();
	        if(index==0){
				$('.one').show()
				$('.two').hide()
				$('.three').hide()
			}else if(index==1){
				$('.one').hide()
				$('.two').show()
				$('.three').show()
			}
</script>
<script type="text/javascript">
	$('#huan').find('label').each(function(){			
		$(this).click(function(){
			var index=$(this).index()
			if(index==0){
				$('.shop').hide()
				$('.people').hide()
				$('.type').show()
				/*$('.one').hide()
				$('.two').hide()
				$('.three').hide()*/
			}else if(index==1){
				$('.shop').show()
				$('.people').hide()
				$('.type').show()
				/*$('.one').hide()
				$('.two').hide()
				$('.three').hide()*/
			}
			else if(index==2){
				$('.shop').hide()
				$('.people').show()
				$('.type').hide()
				$('.one').hide()
				$('.two').hide()
				$('.three').hide()
			}
		})
	})
	var index = $('#huan label').find(':radio:checked').val();
	        if(index==0){
				$('.shop').hide()
				$('.people').hide()
				$('.type').show()
				/*$('.one').hide()
				$('.two').hide()
				$('.three').hide()*/
			}else if(index==1){
				$('.shop').show()
				$('.people').hide()
				$('.type').show()
				/*$('.one').hide()
				$('.two').hide()
				$('.three').hide()*/
			}
			else if(index==2){
				$('.shop').hide()
				$('.people').show()
				$('.type').hide()
				$('.one').hide()
				$('.two').hide()
				$('.three').hide()
			}
</script>

{template 'common/footer'}