{template 'common/header'}


<style>
    .mathyts{
        overflow:hidden;
      
    }
    .mathyts span{
        float:left;
        line-height:36px;
    }
    .form-control_s{
        float:right;
        width:60%;
    }
</style>
<ul class="nav nav-tabs">
	<li class="active"><a href="{php echo $this->createWebUrl('rechange')}">充值面额列表</a></li>
	<li><a href="{php echo $this->createWebUrl('addrechange')}">增加充值面额</a></li>
</ul>
<div class="clearfix">

	<div class="panel panel-default">

	</div>

	<div class="panel panel-default">

		<div class="table-responsive">

			<table class="table table-hover">

				<thead class="navbar-inner">
					<tr>
						<th style="width:15%;">ID</th>
						<th style="width:15%;">充值面值</th>					
						<th style="width:15%;">增加时间</th>
						<th style="width:15%;">状态</th>
						<th style="width:40%;">操作</th>
					</tr>

				</thead>

				<tbody>

				{loop $list $index $item}
				
					<tr >
						<td>{$item['id']}</td>
						<td>{$item['price']}元</td>
						<td>{$item['addtime']}</td>
							<td style="width:15%;">
								{if $item['state'] == 1}
	                            	<span class="label label-success">上架</span>
	                            {else}
	                                <span class="label label-default">未上架</span>
                        		 {/if}
	                        </td>
						<td>
							{if $item['state'] == 1}
	                            	<a href="{php echo $this->createWebUrl('addrechange',array('id'=>$item['id'],'act'=>'down'))}" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="下架">下架</a>
	                        {else}
	                               <a href="{php echo $this->createWebUrl('addrechange',array('id'=>$item['id'],'act'=>'up'))}" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="上架">上架</a>
                        	{/if}

						<a href="{php echo $this->createWebUrl('addrechange',array('id'=>$item['id']))}" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="修改"><i class="fa fa-edit"></i></a>
						<a href="{php echo $this->createWebUrl('addrechange',array('act'=>'del','id'=>$item['id']))}" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="删除"><i class="fa fa-times"></i></a>
					</tr>

				{/loop}
				{if empty($list) }
                <tr ng-if="!wechats">
                <td colspan="9" class="text-center">暂无数据</td>
                </tr>
                {/if}
				<tr>
					<td colspan="6" style="text-align:right">{$page}</td>
				</tr>
				</tbody>

			</table>

		</div>

	</div>

</div>

{template 'common/footer'}