{template 'common/header'}
<ul class="nav nav-tabs">
	<li><a href="">挑战记录</a></li>
</ul>
<div class="panel panel-default">
    <div class="panel-body">
       <form action="" method="post" class="form-horizontal form">
       <div class="alert alert-info url_div hide" role="alert">
       </div>
            <input type="hidden" name="storeid" value="">
            <div class="table-responsive panel-body">
                <table class="table table-hover">
                    <thead class="navbar-inner">
                    <tr>
                        <th>活动类型</th>
                        <th>报名费</th>
                        <th>奖金</th>                       
                        <th>状态</th>
                        <th>参赛时间</th>
                    </tr>
                    </thead>
                    <tbody id="level-list">
                    {loop $list $item}
                    <tr>
                         <td><div class="type-parent">{$item['name']}步挑战</div></td>
                         <td><div class="type-parent">{$item['entryfee']}</div></td>
                         <td><div class="type-parent">{$item['jiangjin']}</div></td>
                         <td><div class="type-parent">{$item['status']}</div></td>
                         <td><div class="type-parent">{$item['time']}</div></td>
                    </tr>
                    {/loop}
                    {if empty($list) }
	                <tr ng-if="!wechats">
	                <td colspan="12" class="text-center">暂无数据</td>
	                </tr>
	                {/if}
                    <tr>
                    <td colspan="6" style="text-align:right">{$page}</td>
                    </tr>     
                    </tbody>
                </table>  
            </div>
        </form>
    </div>
</div>
<style type="text/css">
    .hide{display: none}
</style>

{template 'common/footer'}